/*banner*/
.banner {
    position: relative;
    top: 50%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 100px);
    z-index: 0;
    user-select: none;
}

.banner .name {
    color: aliceblue;
    text-transform: uppercase;
    text-shadow: 0 0 50px aliceblue;
}

.banner h4 {
    font-size: 40px;
    letter-spacing: 10px;
}

.banner h1 {
    font-size: 200px;
    letter-spacing: 50px;
    animation: mestixzanimate 5s ease-in-out infinite;
}

/*about*/
.about {
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    top: 100px;
    color: aliceblue;
    flex-direction: column;
    gap: 3rem;
}

.about h1 {
    font-size: 50px;
}

.about p {
    width: 50%;
}

/*Animation*/
@keyframes mestixzanimate {
    50% {
        transform: 
        translateY(-20px);
    }
}
