body::-webkit-scrollbar {
    display: none;
}

body {
    background: linear-gradient(rgba(10, 10, 10, 0.2), rgba(10, 10, 10, 1)), url("https://i.pinimg.com/1200x/1c/53/d3/1c53d3383cc64042e3308d6abba7753b.jpg");
}

header a:hover {
    text-shadow: 0 0 10px aliceblue;
}
