/*banner*/
#banner h4 {
    animation: banneranimate 1.5s ease-in-out both;
}

#banner h1 {
    animation: banneranimate 3s both 1s, textmove 5s ease-in-out infinite;
}

/*about*/

#about h1 {
    animation: textmove 5s ease-in-out infinite;
}

/*wiki*/
.wiki {
    /*background-color: #335;*/
    padding: 5%;
    color: aliceblue;
}

/*Animation*/
@keyframes textmove {
    50% {
        transform: 
        translateY(20px);
    }
}

@keyframes banneranimate { 
    from{ 
        opacity:0 ;
    } 
    to{ 
        opacity:1 ;
    }
  }
